@import "../../utils/main/main.scss";

.login {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 500px;
        width: 100%;
        height: 100%;
        background-color: white;
        gap: 20px;
    }
    &__title {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        font-size: 42px;
    }
    &__logintext {
        margin: 0;
        font-family: Post, sans-serif;
        font-weight: 300;
    }
    &__field {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__text {
        font-family: Post, sans-serif;
        margin-top: 20px;
    }
    &__input {
        height: 40px;
        border: 1px solid rgb(200, 198, 198);
        text-indent: 12px;
        outline: 1px solid gray;
        &:focus-visible {
            border: 3px solid orange;
            height: 37px;
    }
    &::placeholder {
        font-family: Post, sans-serif;
    }
}
        &__submit {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 0;
            background-color: blue;
            margin-top: 20px;
            font-family: Post, sans-serif;
            color: white;
            font-weight: 600;
            text-align: center;
            text-decoration: none; 
          }
          &__buttonblock {
            width: 80%;
            display: flex;
            align-items: left;
          }
          &__errortext {
            margin: 0;
            color: orange;
            font-family: Post, sans-serif;
          }

}