.servis {
    &__content {
        display: flex;
        height: 150px;
        width: 100%;
        background: rgba(1, 1, 1, 0.2);
        border: 1px solid gray;
    }
    &__version {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Post, sans-serif;
        width: 50%;
        height: 100%;
        border: 1px solid gray;
    }
    &__versiontext {
        font-size: 20px;
        font-weight: 700;
        color: rgba(52, 10, 10, 0.659);
    }
    &__text {
      color: red;
    }

    &__system {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        height: 100%;
        border: 1px solid gray;
    }
    &__systemtitle {
        font-family: Post, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: rgba(52, 10, 10, 0.659);
    }
    &__image {
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }
}