@import "../../utils/main/main.scss";

.trail {
    &__body {
        background-color: white;
    }
    &__nav {
        width: 100%;
        height: 50px;
        background-color: $post-color;
    }
    &__navcontent {
        display: flex;
        justify-content: space-between;
        margin: 0 12px;
    }
    &__content {
        display: flex;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    &__navtext {
        margin: 0;
        font-family: Post, sans-serif;
        color: white;
        font-weight: 700;
    }
    &__userinfo {
        margin: 0;
        font-family: Post, sans-serif;
        color: white;
    }
    &__icons {
        display: flex;
        align-items: center;
    }
    &__barcode {
        width: 20px;
        height: 20px;
    }
    &__magniglass {
        position: relative;
        right: 13px;
        transform: rotate(270deg);
        width: 15px;
        height: 15px;
        &code {
            position: relative;
            right: 15px;
            width: 15px;
            height: 15px;
        }
    }
    &__code {
        width: 25px;
        height: 25px;
    }
    &__dot {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: gray;
        &s {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }
    &__input {
        width: 90%;
        height: 30px;
        margin: 8px auto;
    }
    &__inputkeyboard {
        display: flex;
        flex-direction: row-reverse;
    }
    &__keyboard {
        position: absolute;
        right: 35px;
        top: 60px;
        width: 30px;
        height: 30px;
    }
    &__buttons {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
    &__button {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        background-color: $post-color;
        color: white;
        font-family: Post, sans-serif;
        font-weight: 600;
        border: none;
        text-decoration: none;
        &-opacity {
            background-color: rgb(126, 33, 33);
            color: rgb(147, 122, 122);
        }
        &text {
            margin: 0;
            margin-top: 8px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__img {
        height: 25px;
        width: 25px;
    }
    &__noposition {
        margin: 30px 0;
        font-family: Post, sans-serif;
        text-align: center;
    }
    &__line {
        border-top: 0.5px solid black;
    }
    &__openedbook {
        width: 80%;
        height: 40vh;
        margin: 0 auto;
        border: 1px solid lightgray;
        border-radius: 10px 10px 0 0 ;
    }
    &__confirmBook {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: black;
    }
    &__confirmwindow {
        position: absolute;
        bottom: 120px;
        width: 90%;
        margin: 10% 5%;
        border: 1px solid gray;
        background-color: white;
        border-radius: 10px;
    }
    &__infocontent {
        display: flex;
        flex-direction: column;
    }
    &__infos {
        margin-left: 15px;
        padding-bottom: 100px;
    }
    &__info {
        height: 20px;
        font-size: 15px;
        font-family: Post, sans-serif;
        margin: 30px 0 10px;
        text-align: left;
    }
    &__redblock {
        display: flex;
        width: 100%;
        height: 15vh;
        background-color: $post-color;
        border-radius: 10px 10px 0 0;
    }
    &__downloaderror {
        font-family: Post, sans-serif;
        margin: auto;
        margin-left: 30px;
        color: white;
        font-size: 20px;
    }

    &__confirmedbutton {
        border: 0;
        border-top: 1px solid lightgray;
        background-color: white;
        color: $post-color;
        width: 100%;
        height: 50px;
        &:hover {
            background: rgba(0, 0, 0, 0.03);
        }
        &YES {
            border-radius: 0 0 0 10px;
            border-right: 1px solid lightgray;
        }
        &NO {
            border-radius: 0 0 10px 0;
        }
        &s {
            display: flex;
            width: 100%;
        }
    }
    &__verifywindow {
        display: flex;
        gap: 30%;
        margin: 0 auto;
        border-radius: 10px;
        width: 90%;
        height: 25vh;
        border: 1px solid gray;
    }
    &__verifyinfo {
        margin: 10px 0 0 10px;
        font-family: Post, sans-serif;
        color:rgb(81, 79, 79);
        font-size: 13px;
        &s {
            display: flex;
            flex-direction: column;
        }
    }
    &__checkbox {
        display: grid;
        place-content: center;
        align-self: center;
        appearance: none;
        background-color: #fff;
        margin: 0;
        color: black;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        transform: translateY(-0.075em);
        &:checked::before {
            transform: scale(1);
        }
        &::before {
            content: "";
            width: 15px;
            height: 15px;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 13px 13px $post-color;
        }
    }
    &__createbook {
        color: black;
        text-decoration: none;
        font-family: Post, sans-serif;
        text-align: center;
        border: 1px solid gray;
        &:hover {
            background-color: lightgray;
        }
    }
}
