@import './utils/main/main.scss';

#root {
  height: 100%;
}

body {
  margin: 0;
}

  .app {
  background-color: white;
  height: 100vh;
  width: 100%;
  }

  .background {
    background-image: url('./image/post-office.png');
    background-size: 80px 80px;
    background-position: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

  }
  .button {
    width: 200px;
    height: 40px;
    background-color: $post-color;
    font-family: Post, sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 600px;
  }

  .link {
    height: 40px;
  }
