@import '../../utils/main/main.scss';



.mainpage {
  &__background {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 84%;
  background-image: url("../../image/PPgrafika.png");
  background-size: 530% 219%;
  background-position: 52% 51%;
  z-index: 1;
  }
&__content {
  width: 100%;
}
&__login {
    width: 150px;
    display: flex;
    margin-top: 500px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $post-color;
    font-family: Post, sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  &__info {
    font-family: Post, sans-serif;
    display: flex;
    text-align: left;
    margin: 10px 0;
  }
  &__text {
    width: 100px;
    margin: 0;
    font-weight: 600;
  }
  &__data {
    margin: 0;
    margin-left: 30px;
    color: rgba(128, 128, 128, 0.582);
  }
}