.apm {
  &__content {
    display: flex;
    width: 100%;
    height: 150px;
    border: 1px solid gray;
        background: rgba(1, 1, 1, 0.2);
  }
  &__link {
    width: 40%;
    height: 100%;
    border: 1px solid gray;
  }
  &__emptyblock {
    width: 60%;
    height: 100%;
    border: 1px solid gray;
  }

  &__title {
    font-family: Post, sans-serif;
    color: rgba(69, 63, 63, 0.726);
    color: red;
    text-align: center;
  }
  &__image {
    width: 50px;
    height: 50px;
    background-image: url("../../image/code.svg");
    background-size: 50px;
    margin: 0 auto;
  }
  &__glass {
    position: relative;
    top: 19px;
    left: 17px;
    width: 30px;
    height: 30px;
  }
}
